body {
    font-family: sans-serif;
    background-color: aquamarine;
}
p {
    line-break: auto;
    word-break: break-all;
}

/*------------- header------------- */

.Header {
    width: 100px;
    height: 100px;
}

/* ------------ NavBar -------------*/
.navbar {
    background-color: aqua;
}

.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

/*---------------- body---------------- */

.Banner {
    width: 100%;
    height: auto;
}

.ProductImg {
    width: 500px;
    height: auto;
}

.CategoryImg {
    width: 500px;
    height: auto;
    padding-left: 25%;
}

/* --------------- Footer -------------- */

.my_footer {
    padding-top: 20px;
    font-size: 14px;
    background-color: aqua;
    height: 60px;
}
.my_footer p {
    padding-top: 20px;
    font-size: 14px;
}

/* ------------ Category -------------- */

.my_row_class {
    padding-top: 15px;
}

.my_row_class .mx-auto p {
    color: black;
    font-size: 12px;
    text-decoration: none;
}