{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description | truncatewords:155}}
    {% else %}
        Welcome to cart store where you can buy anything.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }}-shop cart
    {% else %}
        see our collection -shop cart
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div>
                <p><a href="{% url 'ecommerceapp:allProductsCategory' %}">Our product collection</a></p>
            </div>
        </div>
    {% endif %}
<div>
    {% if category %}
        <img src="{{category.image.url}}" alt="{{category.name}}">

</div><br>
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
</div>
{% else %}
    <div>
        <img src="{% static 'img/banner.png' %}"alt="">
    </div>
    <br>
    <div>
        <h1>Our product collection</h1>
        <p>We are happy to welcome you to our shop. Here you can buy anything you want.</p>
    </div>
{% endif %}
<div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>${{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}